.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size:10px;
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
      display: none;
}

foreignObject.fileIcon::before {
  font-size: 35px;
}

/* start of something */

html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.app {
  height: 100%;
}

.content-container {
  height: calc(100% - 21px);
  display: flex;
}
.content-container .highlightjs-shit {
  max-width: 450px;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
.content-container .highlightjs-shit pre {
  margin: 0;
}
